<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<items>
    <items_info>
      <title>ESPENCAT</title>
      <genre>deportes</genre>
      <description>SOLO PARA AMIGOS</description>
      <thumbnail>https://i.ibb.co/jfSg0vM/Darth-Vader.jpg</thumbnail>
      <fanart>https://wallpaperstock.net/wallpapers/thumbs1/35773hd.jpg</fanart>
      <date>20.02.2020</date>
      <credits>Espencat</credits>
    </items_info>
<channels>



<channel>
<item>
<name>[COLOR=white]                [COLOR=red][I][B]EVENTOS[COLOR=white] ESPENCAT[/I][/B][/COLOR]</name>
<externallink>https://raw.githubusercontent.com/pakito71/ADDONKODI/master/deportes.xml</externallink>
<thumbnail>https://i.ibb.co/jfSg0vM/Darth-Vader.jpg</thumbnail>
<fanart>https://st.depositphotos.com/1005563/3256/i/450/depositphotos_32564723-stock-photo-sports-balls-a-lot-of.jpg</fanart>
</item>
 
<channel>  
<item>
<name>[COLOR=red][I][B]                    TELEVISION[COLOR=white] IPTV[/I][/B][/COLOR]</name>
<externallink>https://pastebin.com/63VWJXTK</externallink>
<thumbnail>https://notimundo.com.ec/wp-content/www/uploads/2019/06/Deportes.jpg</thumbnail>
<fanart>https://st.depositphotos.com/1005563/3256/i/450/depositphotos_32564723-stock-photo-sports-balls-a-lot-of.jpg</fanart>
</item>

<channel>  
<item>
<name>[COLOR=red][I][B]                 Acestream[COLOR=white]Spanish[/I][/B][/COLOR]</name>
<externallink>http://acestreampi.ddns.net/dailys.m3u8</externallink>
<thumbnail>https://i.ytimg.com/vi/dxar7KLsrg8/hqdefault.jpg</thumbnail>
<fanart>https://st.depositphotos.com/1005563/3256/i/450/depositphotos_32564723-stock-photo-sports-balls-a-lot-of.jpg</fanart>
</item>

<channel>
<item>
<name>[COLOR=red][I][B]                       LIVE[COLOR=white] TV[/I][/B][/COLOR]</name>
<externallink>https://dl.dropbox.com/s/iezyhmsw0ay275a/deportes%20-%20v2.xml?dl=0</externallink>
<thumbnail>https://dl.dropbox.com/s/sztea0fbpvmh0eh/livetv-logo.jpg?dl=0</thumbnail>
<fanart>https://st.depositphotos.com/1005563/3256/i/450/depositphotos_32564723-stock-photo-sports-balls-a-lot-of.jpg</fanart>
</item>


</channels>
